.Scene1 canvas {
  width: 100vw;
  height: 100vh;
  animation: scale-in-center 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  z-index: 0;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
